name: Git Commands

on:
  push:
    paths: .github/workflows/git.yml
  pull_request:
    paths: .github/workflows/git.yml
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref || github.ref }}
      - run: echo test >> test
      - uses: snow-actions/git-config-user@v1.0.0
      - run: git add .
      - run: git commit -m "test"
      - run: git push
      - run: git log -1 --format='%H'

  first:
    if: false
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.changes.outputs.count > 0 }}
    
    steps:
    - uses: actions/checkout@v6
      with:
        ref: feature/git-commands
    - run: git remote -v
    - name: git config の代替
      uses: dawidd6/action-git-user-config@v1.0.0
#     - name: git config
#       run: |
#         git config user.email email@example.com
#         git config user.name example
    - run: mkdir -p files
    - run: |
        #echo 'content' >> files/file.txt
        #echo 'content2' >> files/file2.txt
        git diff --name-only
    - run: echo "::set-output name=count::$(git diff --name-only | wc -l)"
      id: changes
    - run: echo ${{ steps.changes.outputs.count > 0 }}
    - run: git diff --name-only
      if: steps.changes.outputs.count > 0
    - run: |
        git add -A
        git commit -m 'try commit'
        git push
      if: steps.changes.outputs.count > 0

  second:
    runs-on: ubuntu-latest
    needs: [first]
    
    steps:
      - run: echo ${{ needs.first.outputs.changed }}
      - run: echo "true"
        if: needs.first.outputs.changed
    
  exit-code:
    runs-on: ubuntu-20.04
    timeout-minutes: 1
    
    steps:
      - run: cat $GITHUB_EVENT_PATH
      - uses: actions/checkout@v6
        with:
          ref: feature/git-commands
        if: github.event_name == 'push'
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
        if: github.event_name == 'pull_request'
      - name: Write
        run: |
          mkdir -p files
          echo 'content' >> files/file.txt
          echo 'content2' >> files/file2.txt
      - name: Diff
        id: diff
        run: |
          git add -N .
          git diff --name-only --exit-code
        continue-on-error: true
      - name: Commit & Push
        run: |
          set -x
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit --author="${AUTHOR}" -m 'generated'
          git push
        if: steps.diff.outcome == 'failure' && github.event_name == 'push'
        env:
          AUTHOR: ${{ github.event.head_commit.author.name }} <${{ github.event.head_commit.author.email }}>
      - name: Commit & Push
        run: |
          set -x
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit --author=. -m '--author=.'
          #git commit --author="$(git log --pretty=format:"%an <%ae>")" -m 'generated'
          git push
        if: steps.diff.outcome == 'failure' && github.event_name == 'pull_request'
      - name: Log
        run: |
          set -x
          git log -1
          git log -1 --pretty=full
