name: jenkinsci/jenkinsfile-runner-github-actions

on:
  push:
    paths:
      - .github/workflows/jenkinsfile-runner-github-actions.yml
      - jenkinsfile-runner-github-actions/**
  workflow_dispatch:

jobs:
  jenkinsfile-runner-prepackaged:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v6
    - name: jenkinsfile-runner-prepackaged
      uses: jenkinsci/jenkinsfile-runner-github-actions/jenkinsfile-runner-prepackaged@v0.2
#       with:
#         jenkinsfile: jenkinsfile-runner-github-actions/Jenkinsfile
#         pluginstxt: jenkinsfile-runner-github-actions/plugins.txt
      env:
        GITHUB_TOKEN: ${{ github.token }}
