name: Nostr Blog

on:
  push:
    paths:
      - nostr-blog/**.md
      - .github/workflows/nostr-blog.yml

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - run: cat $GITHUB_EVENT_PATH
      - run: echo "${BEFORE} => ${AFTER}"
        env:
          AFTER: ${{ github.event.after }}
          BEFORE: ${{ github.event.before }}
      - run: |
          gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${GITHUB_REPOSITORY}/compare/${BASE}...${HEAD} \
            | jq -r '.files[].filename'
        env:
          GH_TOKEN: ${{ github.token }}
          HEAD: ${{ github.event.after }}
          BASE: ${{ github.event.before }}
