name: Nostr Blog

on:
  push:
    paths:
      - nostr-blog/**.md
      - .github/workflows/nostr-blog.yml

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - run: cat $GITHUB_EVENT_PATH
      - run: echo "${BEFORE} => ${AFTER}"
        env:
          AFTER: ${{ github.after }}
          BEFORE: ${{ github.before }}
