name: php/pecl-math-stats

on:
  push:
    paths:
      - .github/workflows/php-pecl-math-stats.yml

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        ref:
          - master
#           - 1.0.5
#           - 2.0.3

    steps:
    - uses: actions/checkout@v6
      with:
        repository: php/pecl-math-stats
        ref: ${{ matrix.ref }}
    - run: git log -5
    - run: ls -la

    - run: phpize --version
    - run: phpize --help

    - run: phpize
    - name: diff
      run: |
        git add -N .
        git diff --name-only

    - run: pwd
    - run: mkdir -p ~/output
    - run: ./configure --help
    - run: ./configure --prefix=$(pwd)/output # オプションは反映されてなさそう
    - name: diff
      run: |
        git add -N .
        git diff --name-only
    - run: cat Makefile
    - run: sed -i -e 's|prefix = /usr|prefix = /home/runner/work/actions-sandbox/actions-sandbox/output|' Makefile
    - run: sed -i -e 's|EXTENSION_DIR = /usr/lib/php/20210902|EXTENSION_DIR = /home/runner/work/actions-sandbox/actions-sandbox/output/lib/php/20210902|' Makefile
    - run: cat Makefile

    - run: make
    - name: diff
      run: |
        git add -N .
        git diff --name-only

    - run: make install
    - name: diff
      run: |
        git add -N .
        git diff --name-only

    - uses: actions/upload-artifact@v3.1.0
      with:
        path:
          output/lib/php/20210902/stats.so

  use:
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - run: php -v
      - run: php -m
