name: PHPUnit

on:
  push:
    paths:
      - .github/workflows/phpunit.yml
      - phpunit/**/*

jobs:
  phpunit:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: phpunit

    steps:
    - uses: actions/checkout@v2
    - run: composer install
    - run: ./vendor/bin/phpunit --version
