name: Push sandbox
on:
  push:
    paths:
      - .github/workflows/push.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: HELLO
        run: echo 'hello, action'
      - name: nodejs
        uses: ./nodejs-action/
      - name: php
        uses: ./docker-action/
      - name: packer
        uses: ./packer-action/
      - name: packer validate packer.json
        uses: docker://hashicorp/packer
        with:
          args: validate packer.json
      - name: packer build packer.json
        uses: docker://hashicorp/packer
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-northeast-1
        with:
          args: build packer.json
      # - name: packer validate invalid.json
      #   uses: docker://hashicorp/packer
      #   with:
      #     args: validate invalid.json
