name: QRCode PR
on:
  pull_request:
    types: [ opened ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: qrcode
    - uses: SnowCait/qrcode@v1.0.0
      with:
        text: ${{ github.event.pull_request.html_url }}
        path: qrcode.png
    - name: You can upload it to artifact.
      uses: actions/upload-artifact@v2.2.1
      with:
        name: qrcode
        path: qrcode.png
