name: QRCode
on:
  push:
    paths:
      - .github/workflows/qrcode.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
#     - uses: actions/checkout@v3
#       with:
#         ref: qrcode
    - uses: SnowCait/qrcode@master
      with:
        text: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        path: qrcode.png
#     - uses: snow-actions/git-config-user@v1.0.0
#     - run: |
#         git add qrcode.png
#         git commit -m "QR Code"
#         git push origin qrcode
    - name: You can upload the QR Code file to artifact.
      uses: actions/upload-artifact@v6
      with:
        name: qrcode
        path: qrcode.png
